.questionTable {
    text-align: center;
    margin: 3rem 1rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.3rem;
}

thead {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: rgb(224, 224, 224)
}

tr {
    border-bottom: 0px solid #ccc;
}

.question, .answer {
    margin: 0.5rem 1rem;
    border: 1rem solid black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.3rem;
}

.qTitle, .aTitle {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.qTitleName, .aTitleName {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.qInfo span, .aInfo span {
    padding-right: 0.5rem;
}

.qContent, .aContent {
    font-size: 1.2rem;
}

.aContent {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.qBtn, .aBtn, .wAnswer {
    float: right;
    color: rgb(117, 117, 117);
}

.rBtn {
    float: right;
    color: rgb(117, 117, 117);
    margin-right: 0.4rem;
    font-size: 0.9rem;
}

.replyText {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.reply {
    background-color: rgb(240, 240, 240);
    margin-top: 0.3rem;
}

.replyElement {
    padding: 0.5rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.replyElement span {
    padding: 0 0.1rem;
}

.backToList {
    text-align: right;
    margin-top: 2rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
}

.modifyTitle {
    text-align: center;
    margin: 5rem 0 2rem 0;
}